.home{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   .user-details{
      margin: 0 auto;
      width: 300px;
      height: 200px;
      box-shadow: 0px 0 3px 2px #414141;
      display: flex;
      flex-direction: column;
      gap:20px;
      padding: 15px;
      & >*{
         &.title{
            font-size: 1.3rem;
         }
         display: flex;
         align-items: center;
         gap:10px;
         & img{
            height: 35px;
         }
      }
   }
}